<p>Please enter the details of the new student:</p>

<form method="POST" action="/students">
<label for="first_name">First Name:</label>
<input type="text" id = "first_name" name="first_name"/>

<label for="second_name">Second Name:</label>
<input type="text" name="second_name" id="second_name"/>

<label for="house-select">Select House: </label>
<select id="house-select" name="house">
  <option value="Gryffindor">Gryffindor</option>
  <option value="Ravenclaw">Ravenclaw</option>
  <option value="Slytherin">Slytherin</option>
  <option value="Hufflepuff">Hufflepuff</option>

</select>

<label for="age">Age</label>
<input type = "number" name="age" id="age"/>

<input type="submit" value="Create Student Record"/>

</form>
